@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

//colors
$cyan: #66e2dc;
$orange: #fa7453;
$yellow: #ffb964;
$almostWhite: #fcfaf9;
$almostBlack: #191826;

//flex

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin downloadBTN($width, $BGC, $fontColor) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(12);
  font-weight: 700;
  font-size: rem(18);
  line-height: 1.78;
  letter-spacing: -0.18px;
  gap: rem(7.92);
  width: rem($width);
  height: rem(61);
  background-color: $BGC;
  color: $fontColor;
}

//downloadBTN--ios--hover

@mixin downloadBTN--hover($BGC) {
  background-color: $BGC;
}