@import "reset";
@import "globals";
@import "function";
html {
  overflow-x: hidden;
}
body {
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  background-image: url(/assets/bg-main-mobile.png);
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -104px;
  right: -65.4px;
  width: 100%;
  height: 100%;
  z-index: -9999;
}

.navbar {
  max-width: calc(100vw - rem(48.3));
  padding: rem(40) rem(0) rem(64);
  margin: 0 auto;

  &-logo {
    width: rem(146);
    height: rem(32);
  }
}

.hero {
  padding: rem(0) rem(24);
  margin-bottom: rem(166);

  &__heading {
    font-size: rem(40);
    line-height: 1.2;
    letter-spacing: -0.4545px;
    font-weight: 700;
    margin-bottom: rem(20);
    color: $almostBlack;
  }

  &__para {
    font-size: rem(16);
    line-height: 1.62;
    color: $almostBlack;
  }
}

.subscribe {
  position: relative;

  &::before {
    content: "";
    background-color: $almostBlack;
    border-radius: rem(12);
    background-image: url(/assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 300px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(627);
  }

  &-content {
    @include flex;
    flex-direction: column;
    gap: rem(48);

    &-img {
      width: rem(208.97);
      height: rem(430);
      transform: translateY(-100px);
    }

    &-premium {
      background-color: $orange;
      border-radius: rem(12);
      padding: rem(48) rem(36);
      color: $almostWhite;
      transform: translateY(-60px);

      &__heading {
        font-size: rem(32);
        line-height: 1.25;
        margin-bottom: rem(12);
      }

      &__para {
        font-size: rem(18);
        line-height: 1.56;
        margin-bottom: rem(36);
      }

      &__price {
        @include flex;
        gap: rem(16);
        font-size: rem(65);
        line-height: 0.8;
        font-weight: 700;
        margin-bottom: rem(43);

        & span {
          font-size: rem(20);
          line-height: 1.6;
          letter-spacing: -0.2px;
          font-weight: 400;
        }
      }

      &__cta {
        @include flex;
        flex-direction: column;
        gap: rem(16);

        &--ios {
          @include downloadBTN--ios;
          width: rem(296);

          &:hover {
            @include downloadBTN--ios--hover;
          }
        }

        &--android {
          @include downloadBTN--android;
          width: rem(296);

          &:hover {
            @include downloadBTN--android--hover;
          }
        }
      }
    }
  }
}

.footer {
  max-width: calc(100vw - rem(48.3));
  margin: 0 auto;

  &-logo {
    margin-bottom: rem(32);
    width: rem(146);
    height: rem(32);
  }

  &__para {
    font-size: rem(16);
    line-height: 1.62;
    color: $almostBlack;
    margin-bottom: rem(64);
  }

  &-social {
    @include flex;
    gap: rem(20);
    margin-bottom: rem(80);

    & i {
      font-size: rem(24);
      color: $almostBlack;

      &:hover {
        color: $orange;
      }
    }
  }
}

@media (min-width: 768px) {
  body::before {
    content: "";
    background-image: url(/assets/bg-main-tablet.png);
    background-position: center;
    background-size: rem(1024);
    background-repeat: repeat-x;
    top: -30%;
    left: 0;
    width: 100vw;
    height: 100%;
  }

  header::after {
    content: "";
    background-image: url(/assets/bg-pattern-1.svg);
    background-position: right top;
    position: absolute;
    background-size: rem(250);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -99;
  }

  .hero {
    width: rem(520);
    margin-bottom: rem(249);

    &__heading {
      font-size: rem(64);
      line-height: 1;
      letter-spacing: -0.727px;
    }
  }

  .subscribe {
    width: rem(696);
    margin-left: auto;
    margin-right: auto;
    height: rem(600);
    margin-bottom: rem(183);

    &::before {
      background-image: url(/assets/bg-pattern-2.svg);
    }

    &-content {
      flex-direction: row;
      justify-content: center;

      &-img {
        width: rem(270.21);
        height: rem(556);
        transform: translate(rem(80), rem(-140));
      }

      &-premium {
        transform: translate(rem(-60), rem(160));
        width: rem(400);
        height: rem(546);
        padding: rem(48);
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: calc(100vw - rem(78));

    &__para {
      order: 2;
      grid-area: 2 / 1 / span 2 / 2;
    }

    &-social {
      justify-self: end;
      align-self: self-end;
      margin: 0;
      grid-area: 2 / 2 / 3 / 3;
    }
  }
}

@media (min-width: 1025px) {
  header::after {
    background-size: rem(312);
    transform: translateY(rem(-30));
  }
  .navbar {
    max-width: rem(1110);
  }

  .hero {
    width: rem(1110);
    margin: 0 auto;
    padding: 0;
    padding-right: rem(280);

    &__heading {
      font-size: rem(88);
      letter-spacing: -1px;
      margin-bottom: rem(40);
    }

    &__para {
      font-size: rem(18);
      line-height: 1.7;
      margin-bottom: rem(321);
    }
  }

  .subscribe {
    width: rem(1110);

    &-content {
      &-img {
        transform: translate(rem(-100), rem(-180));
      }

      &-premium {
        width: rem(446);
        height: rem(625);
        padding: rem(58) rem(48) rem(48);
        transform: translate(rem(100), rem(100));

        &__heading {
          font-size: rem(40);
          line-height: 1.3;
          margin-bottom: rem(22);
        }

        &__para {
          font-size: rem(20);
          line-height: 1.7;
          margin-bottom: rem(39);
        }

        &__price {
          margin-bottom: rem(46);
        }

        &__cta {
          &--ios,
          &--android {
            width: rem(333);
          }
        }
      }
    }
  }

  .footer {
    max-width: rem(1110);
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: rem(100);
    align-items: start;

    &-logo {
      margin-bottom: 0;
    }

    &__para {
      margin-bottom: 0;
      grid-area: 1 / 2 / 1 / 3;
    }

    &-social {
      align-self: start;
      margin: 0;
      grid-column: 3;
      grid-row: inherit;
    }
  }
}
